html, body {margin: 0; height: 100%; overflow: hidden}
.letter {
    width:50px;
    height:50px;
    border:2px solid lightgrey;
    margin: 3px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.letter-flip
{
    transform:rotateY(180deg) scale(-1, 1);
    -moz-transform:rotateY(180deg) scale(-1, 1); /* Firefox 4 */
    -o-transform:rotateY(180deg) scale(-1, 1); /* Opera */
    -webkit-transform:rotateY(180deg) scale(-1, 1); /* Safari and Chrome */
    -webkit-transition-duration:0.5s;
}

.letter-pulse {
    animation: pulse 0.1s ;
    border-color: darkgray;
}
.exampleLetter {
    width:50px;
    height:50px;
    border:1px solid lightgrey;
    margin: 1px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
input.letterHit {
    background-color : #6aaa64;
    border: none;
    color: white;
}
input.letterSemiHit {
    background-color : #c9b458;
    border: none;
    color: white;
}
input.letterMiss {
    background-color : #787c7e;
    border: none;
    color: white;
}
#virtualKey {
    margin-top: 5px;
}
#virtualKey input {
    width:50px;
    height:50px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
}
#virtualKey #enter {
    width:100px;
}
#virtualKey #backspace {
    width:70px;
}
div {
    margin: 0 auto;
    text-align: center;
}
.headerBtn {
    border: none;
    background-color: transparent;
    transform: translate(-50%,-50%);
}
h1 {
    display: inline-block;
    font-weight: bold;
    margin: 5px 8%;
}
hr {
    margin: 0;
}
p {
    text-align: left;
}
#badword {
    position: absolute;
    top: 20%;
    left: 50%;
    pointer-events: none;
    visibility: hidden;
    transform: translate(-50%,-50%);
    width: 150px;
    z-index: 1;
}

#badword.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.modal {
    width: 70%;
    overflow-y: hidden;
}
.modal-body {
    text-align: left;
}

#langSelect {
    color: black;
}

#statsModal span {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
}

#statsModal label {
    display: inline-block;
    padding-top: 1.5em;
    text-align: center;
}

.topStat {
    width: 30%;
}
.topStat span {
    font-size: xx-large;
}
.botStat {
    width: 48%;
}
.botStat span {
    font-size: x-large;
}

/* Bar chart style */
.anychart-credits {
    visibility: hidden;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div {
        width: 100%;;
    }
    .modal {
        width: 100%;
    }
    .letter {
        width:40px;
        height:40px;
        margin: 5px;
    }

    #virtualKey {
        margin-top: 0;
    }
    #virtualKey input {
        width:26px;
        height:50px;
        margin: 5px 1px 1px 1px;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        font-weight: bold;
    }
    #virtualKey #enter {
        width:50px;
    }
    #virtualKey #backspace {
        width:35px;
    }
}
